input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.cart-page {
    margin-top: -45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopping-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 55vh;
    width: 35vw;
    background-color: lavenderblush;
    border: 1px solid lavenderblush;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.shopping-cart-total {
    border-bottom: 1px solid lightgray;
    font-size: 1rem;
    min-width: 95%;
    min-height: 15%;
}
.shopping-cart-name{
    font-size: 120%;
}
.shopping-cart-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    min-height: 65%;
    min-width: 95%;
    margin-top: 5px;
}
.shopping-cart-items-content {
    display: grid;
    grid-template-columns: 55% 10% 25% 10% ;
    min-width: 95%;

}
.shopping-cart-items-content > span, p, div {
    justify-self: center;
    align-self: center;
}
.shopping-cart-items-content input {
    border: darkslateblue 1px solid;
    border-radius: 3px;
    background: lavenderblush;
}
.shopping-cart-items-content input:focus {
    background: slateblue;
    outline: none;
    color: antiquewhite;
}
.shopping-cart-items-content.name {
    font-weight: bold;
    min-width: 100%;
}
.checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgray;
    min-height: 20%;
    min-width: 100%;
}


