input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.shoppingCart {
    margin-top: -45px;
}
.shoppingCartTotal {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    font-weight: bold;
}
.shoppingCartContent {
    display: inline-block;
    margin-left: 10px;
}
.shoppingCartName{
    font-size: 120%;
}
input {
    width: 25px;
    text-align: center;
}
span {
    cursor: pointer;
    margin: 0.5rem;
}