.order {
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 0.5em;
    min-width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
}
.order:hover {
    background-color: lightgrey;
    border: 1px solid dimgray;
}

.orders-container {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}
.detailed-order-card-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px
}
