.item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: lavenderblush;
    min-width: 220px;
    min-height: 185px;
    border: 1px solid lavenderblush;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.item-card-content {
    margin-left: 10%;
    align-self: flex-start;
}
.item-card-content > p {
    line-height: 1.2;
}
.detailed-item-card-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px
}
.detailed-item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: lavenderblush;
    min-width: 30vw;
    min-height: 30vh;
    border: 1px solid lavenderblush;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.detailed-item-card-content {
    margin-left: 10%;
    align-self: flex-start;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
}

