.navbarLink {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-bottom: 1px solid black;
    background-color: teal;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 5px;
    z-index: 5;

}

.cartButton {
    padding: 10px;
    cursor: pointer;
    border: 1px solid indigo;
    border-radius: 5px;
    background-color: darkorchid;
    color: wheat;
    float: right;
    font-weight: bold
}

.cartButton:hover {
    background-color: blueviolet;
}

.total {
    float: right;
    color: white;
    font-weight: bold;
    margin-top: 3px;
    margin-right: 5px;
}