aside {
    position: fixed;
    top: 95px;
}
.origin {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    padding-bottom: 5px;
}
.origin-name {
    display: inline-block;
}
.sidebar-price {
    margin: 5px;
    width: 35px
}
.price-range {
    margin-top: 10px;
}
.price-block {
    border-top: 1px lightgrey solid;
    border-bottom: 1px lightgrey solid;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
}

