aside {
    position: fixed;
    top: 95px;
}
.origin {
    padding-left: 10px;
    padding-bottom: 5px;
}
.originName {
    display: inline-block;
}
.filterButton {
    width: 60%;
    height: 35px;
    font-size: 1rem;
    margin: 10px 20% 10px 20%;
    border-radius: 5px;
    background-color: slateblue;
    outline: none;
    color: lavenderblush;
    border: 1px solid slateblue;
}
.filterButton:hover{
    background-color: darkslateblue;
    cursor: pointer;
}
.sideBarPrice {
    margin: 5px;
    width: 35px
}
.priceRange {
    margin-top: 10px;
}
.priceBlock {
    border-top: 1px lightgrey solid;
    border-bottom: 1px lightgrey solid;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
}

